@font-face {
    src: url('assets/fonts/Gogol.ttf');
    font-family: 'Gogol';
}

@font-face {
    src: url('assets/fonts/Remark.otf');
    font-family: 'Remark';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Remark';
}

button {
    outline: none;
    border: none;
    background: none;
    font-family: 'Remark';
    font-size: 20px;
    padding: 8px 16px;
    text-transform: uppercase;
    cursor: pointer;
}

a, a:active {
    text-decoration: none;
    color: black;
}

#sound-on {
    border: 1px solid white;
    border-radius: 20px;
    color: white;
}

.container {
    max-height: 100vh;
    max-width: 1280px;
    margin: 60px auto 0;
    padding: 20px;
}

.video_container {
    width: 100%;
    height: 100vh;
}

.video {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100vh;
}

.video_text_container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.video_text {
    position: absolute;
    left: 0;
    right: 0;
    height: 3em;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 8px 20px;
    color: white;
}

.video_text-top {
    top: 0;
    font-size: 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.video_text-bottom {
    bottom: 0;
    font-size: 80px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
    align-items: flex-end;
}

.welcome {
    display: flex;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.welcome_img {
    max-height: 90vh;
    max-width: 60vh;
}

.welcome_img img {
    max-width: 100%;
    max-height: 100%;
}

.welcome_content {
    max-height: 100%;
    width: 100%;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome_text {
    max-width: 564px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.welcome_text_title {
    font-size: 32px;
    text-transform: uppercase;
}

.welcome_text_signature {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: flex-end;
    width: fit-content;
    font-family: 'Gogol';
    transform: rotate(-3deg);
    font-size: 36px;
}

.welcome_text_signature img {
    position: relative;
    bottom: 4px;
}

.programm {
    display: flex;
}

.programm_img_container {
    padding: 0 36px;
    max-height: 85vh;
    
}

.programm_img {
    overflow: hidden;
    border-radius: 300px;
    max-height: 100%;
    margin: 0 auto;
    aspect-ratio: 7/10;
}

.programm_img img {
    max-height: 100%;
    width: auto;
    height: auto;
    margin-bottom: -4px;
    
}

.programm_content {
    padding: 2rem;
    align-self: center;
    font-size: 20px;
}

.programm_date {
    font-size: 80px;
    text-align: center;
}

.programm_title {
    font-family: 'Gogol';
    text-align: center;
    font-size: 2rem;
    margin-bottom: 8px;
}

.programm_programm {
    display: grid;
    gap: 0.5rem;
}

.programm_programm_item {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.programm_programm_item_event {
    white-space: nowrap;
}

.programm_programm_item-dashed {
    width: 100%;
    background-image: linear-gradient(to right, black 33%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 3px 1px;
    background-repeat: repeat-x;
    margin-bottom: 3px;
}

.location {
    display: flex;
    padding: 40px 0;
}

.location > img {
    position: relative;
    left: -20px;
    max-height: 80vh;
    max-width: 60%;
    transform: rotate(-4deg);
}

.location_content {
    position: relative;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin: 0 auto;
    font-size: 28px;
}

.location_content_text {
    display: flex;
    align-items: flex-start;
}

.location_btn {
    width: 100%;
    border: 1px solid black;
    padding: 20px 40px;
}

.timer {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.timer_heading {
    position: absolute;
    top: 10%;
    z-index: -1;
    color: #E8E3DB;
    opacity: .5;
    text-transform: uppercase;
    font-size: 8rem;
}

#days-count {
    font-size: 200px;
    letter-spacing: -8px;
    line-height: 90%;
}

#days-label, .time_label {
    font-family: 'Gogol';
    font-size: 48px;
}

.timer_time {
    font-size: 60px;
}

@media (max-width: 600px) {
.container {
    max-height:none;
}
.video_container, .video {
    height: calc(var(--vh, 1vh) * 100);
}
.video_text-top {
    font-size: 28px;
}
.video_text-bottom {
    font-size: 45px;
}

.welcome, .programm {
    flex-direction: column;
}

.welcome_img {
    padding-bottom: 20px;
}

.welcome_text {
    padding-top: 0;
}

.welcome_text_text {
    font-size: 1.2rem;
}

.welcome_text_signature {
    font-size: 24px;
}

.welcome_text_signature img {
    width: 20px;
}

.programm_img_container {
    order: -1;
}

.location {
    flex-direction: column;
}

.location_content {
    padding-right: 0;
    margin-top: 36px;
    bottom: 0;
    font-size: 18px;
}

.location > img {
    position: relative;
    max-width: 90%;
    left: -20px;
}

.timer_heading {
    text-align: center;
    font-size: 4rem;
}
}