@font-face {
    src: url('assets/fonts/Gogol.ttf');
    font-family: 'Gogol';
}

@font-face {
    src: url('assets/fonts/Remark.otf');
    font-family: 'Remark';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Remark';
}

button {
    outline: none;
    border: none;
    background: none;
    font-family: 'Remark';
    font-size: 20px;
    padding: 8px 16px;
    text-transform: uppercase;
    cursor: pointer;
}

a, a:active {
    text-decoration: none;
    color: black;
}

#sound-on {
    border: 1px solid white;
    border-radius: 20px;
    color: white;
}

.container {
    height: 100vh;
    max-width: 1280px;
    width: 100%;
    padding: 0 20px;
    margin: 20px auto;
}

.video_container {
    width: 100%;
    height: 100vh;
}

.video {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100vh;
}

.video_text_container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 200;
    background-image: url('assets/media/welcome_photo.webp');
    object-fit: cover;
}

.video_text {
    position: absolute;
    left: 0;
    right: 0;
    height: 3em;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 8px 20px;
    color: white;
}

.video_text-top {
    top: 0;
    font-size: 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.video_text-bottom {
    bottom: 0;
    font-size: 80px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
    align-items: flex-end;
}

.video_text_item {
    opacity: 0;
    transition: all 1500ms;
}

.welcome {
    display: flex;
    gap: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.welcome_img {
    max-height: 100vh;
}

.welcome_img img {
    max-width: 100%;
    max-height: 100%;
}

.welcome_content {
    max-height: 100%;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome_text {
    max-width: 564px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.welcome_text_title {
    font-size: 32px;
    text-transform: uppercase;
}

.welcome_text_signature {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: flex-end;
    width: fit-content;
    font-family: 'Gogol';
    transform: rotate(-3deg);
    font-size: 36px;
}

.welcome_text_signature img {
    position: relative;
    bottom: 4px;
}

.programm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
}

.programm_img {
    overflow: hidden;
    max-height: 80vh;
    aspect-ratio: 7/10;
}

.programm img {
    max-height: 90%;
    max-width: 100%;
    width: auto;
    height: auto;
    margin-bottom: -4px;
    border-radius: 300px;
}

.programm_content {
    padding: 2rem;
    align-self: center;
    font-size: 20px;
    width: 440px;
}

.programm_date {
    font-size: 100px;
    text-align: center;
    margin-bottom: 16px;
    color: #E8E3DB;
    opacity: .5;
}

.programm_title {
    font-family: 'Gogol';
    text-align: center;
    font-size: 36px;
    margin-bottom: 8px;
}

.programm_programm {
    display: grid;
    gap: 0.5rem;
    font-size: 28px;
}

.programm_programm_item {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.programm_programm_item_event {
    white-space: nowrap;
}

.programm_programm_item-dashed {
    width: 100%;
    background-image: linear-gradient(to right, black 33%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 3px 1px;
    background-repeat: repeat-x;
    margin-bottom: 3px;
}

.location {
    display: flex;
    padding: 40px 0;
}

.location > img {
    position: relative;
    left: -20px;
    max-height: 80vh;
    max-width: 60%;
    transform: rotate(-4deg);
}

.location_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin: 60px auto 0;
    font-size: 28px;
    width: 400px;
}

.location_content_text {
    display: flex;
    align-items: flex-start;
    
}

.location_content_item {
    width: 100%;
}

.location_btn {
    width: 100%;
    border: 1px solid black;
    padding: 20px 40px;
    margin-top: 20px;
    transition: all 200ms;
}

.location_btn:hover {
    background-color: black;
}

.location_btn:hover a {
    color: white;
    transition: all 200ms;
}

.questions {
    font-size: 28px;
    padding: 20px;
}

.questions button {
    width: fit-content;
}

.timer {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    align-self: center;
    justify-content: center;
    text-align: center;
}

.timer_days, .timer_label, .timer_time {
    position: relative;
}

.timer_heading {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95vh;
    top: 6%;
    color: #E8E3DB;
    opacity: .5;
    text-transform: uppercase;
    font-size: 150px;
    line-height: .9;
}

#days-count {
    font-size: 220px;
    letter-spacing: -8px;
    line-height: 90%;
    margin-top: 20px;
}

#days-label {
    font-family: 'Gogol';
    font-size: 64px;
    position: relative;
    bottom: 12px;
}

.timer_time {
    font-size: 80px;
    display: flex;
    gap: 12px;
}

@media (max-width: 600px) {
.container {
    height:auto;
    margin-top: 40px;
}

.video_container {
    height: 620px;
}

.video {
    height: 620px;
}

.video_text_container {
    height: 620px;
}

.video_text-top {
    font-size: 28px;
}
.video_text-bottom {
    font-size: 45px;
}

.welcome, .programm {
    flex-direction: column;
    gap: 20px;
}

.programm {
    flex-direction: column-reverse;
    gap: 20px;
}

.programm_date {
    font-size: 80px;
}

.programm_content {
    padding: 0 20px;
    width: auto;
}

.programm_programm {
    font-size: 18px;
}

.welcome_text {
    padding-top: 0;
}

.welcome_text_text {
    font-size: 1.2rem;
}

.welcome_text_signature {
    font-size: 24px;
}

.welcome_text_signature img {
    width: 20px;
}

.location {
    flex-direction: column;
}

.location_btn {
    align-self: center;
}

.location_content {
    padding: 0 20px;
    margin-top: 36px;
    font-size: 18px;
    gap: 40px;
}

.location_content_item {
    display: flex;
    flex-direction: column;

}

.location > img {
    position: relative;
    max-width: 90%;
    left: -20px;
}

.timer_heading {
    text-align: center;
    font-size: 4rem;
    justify-content: flex-start;
}

#days-count {
    margin-top: 40px;
}

.timer_time {
    font-size: 60px;
}
}