@font-face {
    src: url('assets/fonts/Gogol.ttf');
    font-family: 'Gogol';
}

@font-face {
    src: url('assets/fonts/Remark.otf');
    font-family: 'Remark';
}

*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Remark';
}

button {
    outline: none;
    border: none;
    background: none;
    font-family: 'Remark';
    font-size: 20px;
    padding: 8px 16px;
    text-transform: uppercase;
    cursor: pointer;
}

a, a:active {
    text-decoration: none;
    color: black;
}

.photo {
    border: 4px solid white;
    box-shadow: 0 0 4px rgba(0, 0, 0, .25);
}

.text {
    font-size: 28px;
}

.arrow_btn {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

#video-text-0 {
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    height: 100vh;
    max-width: 1280px;
    width: 100%;
    padding: 0 20px;
    margin: 40px auto;
}

.video_container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.video {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100vh;
}

#preload {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center center;
    transition: all 5000ms;
}

.video_text {
    position: absolute;
    left: 0;
    right: 0;
    height: 3em;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 8px 20px;
    color: white;
}

.video_text-top {
    top: 0;
    font-size: 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.video_text-bottom {
    bottom: 0;
    font-size: 80px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
    align-items: flex-end;
}

.video_text_item {
    opacity: 0;
    transition: all 1500ms;
}

.welcome {
    display: flex;
    gap: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.welcome_img {
    max-height: 100vh;
}

.welcome_img img {
    max-width: 100%;
    max-height: 100%;
    transform: rotate(-4deg);
}

.welcome_content {
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome_text {
    max-width: 564px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.welcome_text_title {
    font-size: 32px;
    text-transform: uppercase;
}

.welcome_text_signature {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: flex-end;
    width: fit-content;
    font-family: 'Gogol';
    transform: rotate(-3deg);
    font-size: 36px;
}

.welcome_text_signature img {
    position: relative;
    bottom: 4px;
}

.programm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
}

.programm_img {
    overflow: hidden;
    max-height: 80vh;
    aspect-ratio: 7/10;
}

.programm img {
    max-height: 90%;
    max-width: 100%;
    width: auto;
    height: auto;
    margin-bottom: -4px;
    transform: rotate(4deg);
}

.programm_content {
    padding: 2rem;
    align-self: center;
    font-size: 20px;
    width: 440px;
}

.heading_accent {
    font-size: 80px;
    text-align: center;
    margin-bottom: 16px;
    color: #88460B;
    text-transform: uppercase;
}

.programm_date {
    font-size: 100px !important;
}

.programm_title {
    font-family: 'Gogol';
    text-align: center;
    font-size: 36px;
    margin-bottom: 8px;
}

.programm_programm {
    display: grid;
    gap: 0.5rem;
}

.programm_programm_item {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.programm_programm_item_event {
    white-space: nowrap;
}

.programm_programm_item-dashed {
    width: 100%;
    background-image: linear-gradient(to right, black 33%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 3px 1px;
    background-repeat: repeat-x;
    margin-bottom: 5px;
}

.location {
    display: flex;
    gap: 80px;
    height: auto !important;
}

.location_img {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 60%;
}

.location_heading {
    text-align: left;
    line-height: 86%;
    margin-bottom: 60px;
}

.location_img img {
    max-width: 100%;
    max-height: 100%;
}

.location_content {
    margin: 80px auto 0;
    width: 40%;
}

.location_content_text {
    display: flex;
    align-items: flex-start;
    
}

.location_btn {
    width: 100%;
    border: 1px solid black;
    padding: 20px 40px;
    margin-top: 20px;
    transition: all 200ms;
}

.location_btn:hover {
    background-color: black;
}

.location_btn:hover a {
    color: white;
    transition: all 200ms;
}

.photos {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 60px 0;
}

.doodle {
    max-width: 80%;
}

.doodle-mobile {
    display: none;
}


.dress {
    height: auto;
    max-width: none;
    position: relative;
    height: 750px;
}



.dress_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
}

.dress_heading {
    color: #88460B;
}

.dress_content {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.dress_content p {
    width: 372px;
    max-width: 35%;
}

.dress_content img {
    width: 32px;
    user-select: none;
}

.dress_carousel_container-desktop {
    width: 928px;
    max-width: 65%;
        height: 470px;
        position: absolute;
        bottom: 0;
        right: 0;
        overflow: hidden;
}

.dress_carousel-desktop {
    display: flex;
    gap: 10px;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px 32px 6px 6px;
}

.dress_carousel_container-mobile, .dress_carousel-mobile {
    display: none;
}


.dress_carousel_label {
    position: absolute;
    top: 220px;
    right: 20px;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.dress_carousel_label div {
    font-family: 'Gogol';
    margin-bottom: -4px;
}

.dress_carousel_item {
    max-width: 242px;
}

.timer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 56px;
    align-items: center;
    align-self: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 60px 0;
}

.timer_bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.timer_days, .timer_label, .timer_time {
    position: relative;
}

.timer_heading {
    font-family: "Gogol";
    flex-direction: column;
    justify-content: space-between;
    color: #E8E3DB;
    opacity: .5;
    font-size: 80px;
    line-height: .9;
    margin-bottom: -40px;
}

.timer_main {
    color: #FFCB45;
}

#days-count {
    font-size: 220px;
    letter-spacing: -8px;
    line-height: 90%;
}

#days-label {
    font-family: 'Gogol';
    font-size: 64px;
    position: relative;
    bottom: 12px;
}

.timer_time {
    font-size: 60px;
    display: flex;
    gap: 12px;
}

.tg-desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 80%;
}

.tg-btn {
    margin: 16px auto 0;
    width: 40px;
    cursor: pointer;
}

.tg-btn img {
    width: 100%;
}

@media (max-width: 600px) {
    .text {
        font-size: 18px;
    }
.arrow_btn {
    margin-top: 40px;
    width: 100%;
    justify-content: center;
}

.arrow_btn img {
    max-width: 60%;
}
.container {
    height: auto;
    margin-top: 40px;
}

.video_container {
    height: 100svh;
}

.video {
    height: 100svh;
}

.video_text-top {
    font-size: 28px;
}
.video_text-bottom {
    font-size: 45px;
}

.welcome, .programm {
    flex-direction: column;
    gap: 20px;
}

.welcome_img img, .programm img {
    transform: none;
}

.programm {
    flex-direction: column-reverse;
    gap: 20px;
}

.programm_date {
    font-size: 80px !important;
}

.programm_content {
    padding: 0 20px;
    width: auto;
}

.programm_programm {
    font-size: 18px;
}

.welcome_text {
    padding-top: 0;
}

.welcome_text_text {
    font-size: 1.2rem;
}

.welcome_text_signature {
    font-size: 30px;
}

.welcome_text_signature img {
    width: 20px;
}

.location {
    flex-direction: column;
    position: relative;
    margin-top: 80px;
    margin-bottom: 80px;
    max-width: 100%;
    overflow: hidden;
}

.location_heading {
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
}

.location_img {
    max-width: 200%;
    position: absolute;
    left:-40%;
    right:-40%;
}

.location_content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    margin-top: 660px;
    font-size: 18px;
    gap: 40px;
    width: 100%;
}

.location_content_item {
    display: flex;
    flex-direction: column;

}

.location > img {
    position: relative;
    max-width: 90%;
    left: -20px;
}

.photos {
    padding: 20px 0;
}

.doodle {
    display: none;
}

.doodle-mobile {
    display: block;
    max-width: 90%;
}


.dress_header {
    flex-direction: column;
}

.dress_header img {
    max-width: 90%;
    margin: 12px auto 40px;
}

.dress_carousel_label {
    position: static;
    max-width: 182px;
    margin: 16px 0 0 auto;
}

.dress_carousel_label img {
    margin-top: -8px;
}

.heading_accent {
    font-size: 64px;
}

.dress_content {
    gap: 20px;
}

.dress_content, .dress_content p {
    width: 100%;
    max-width: none;
}

.dress_content img {
    margin: 20px auto 0;
    max-width: 28px;
}

.dress_content-last {
    margin-top: 480px;
    margin-bottom: 60px;
}

.dress_carousel_container-desktop, .dress_carousel-desktop {
    display: none;
}

.dress_carousel_container-mobile {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 385px;
    z-index: 300;
    width: 100%;
}

.dress_carousel-mobile {
    display: block;
    position: absolute;
    top: 0;
    display: flex;
    gap: 20px;
    overflow: auto;
    width: 100%;
    flex-flow: row nowrap;
    padding: 14px;
}

.dress_carousel-mobile::-webkit-scrollbar {
    display: none;
}

.timer {
    padding: 40px 0;
    gap: 28px;
}

.timer_heading {
    font-size: 4rem;
    margin-bottom: -50px;
}

#days-count {
    font-size: 220px;
    margin-top: 40px;
}

.tg-desc {
    margin-top: 20px;
}
}